<div style="text-transform: capitalize;">{{ownerName}},</div><br><br>

We know that you will love our software with cash discount processing, 
curbside pick up and branded mobil app. 
Just in case you decide to cancel, please click the link below:<br>
<a href="{{url}}">{{url}}</a>

<br><br>


You must cancel by {{subscriptionStartDate}} or you will be charged full price.<br><br>

{{> footer}}