Hello {{fullName}},<br><br>
You have requested to change your password associated with your Inzilo account. 
Please click on the link below to confirm this change.<br><br>

URL : <a target="_blank" href="{{url}}">Click Here to Change Password</a><br><br>

{{> footer}}